{% extends "common/wrap.twig" %}

{% block title %}Заказы{% endblock %}

{% block head %}
    <style>
        .disabled {
            pointer-events: none;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "partials/header.twig" with {activeTab: 'orders', role: 'operator'} %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9 mb-3">
                <a href="/orders/new" type="button"
                   class="btn btn-outline-secondary btn-lg btn-block mb-3">
                    Новый заказ
                </a>
                <div class="list-group" id="orders-container">
                    {% include 'partials/loader.twig' %}
                </div>
            </div>
            {% include 'partials/sidebar.twig' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        function mapOrders(orders) {
            let html = "";

            for (const order of orders) {
                let ready = true;

                html += `<div class="list-group-item flex-column align-items-start order" id="order-${order.id}">
                        <div class="d-flex w-100 justify-content-between mb-3">
                            <h3 class="display-4 m-0">
                                <small>#</small>
                                ${order.id % 1000}
                            </h3>
                            <p class="lead text-muted">
                                ${(new Date(order.time+"+00:00")).toLocaleTimeString()}
                                <br>
                                ${parseFloat(order.sum).toLocaleString('ru-RU',{style: 'currency', currency: 'RUB', minimumFractionDigits: 0})}
                            </p>
                        </div>
                        <ul class="list-group list-group-flush mb-4">`;

                for (const foodpiece of order.foodpieces) {
                    html += `<li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="foodpieceorder">
                                    <p class="lead mb-0">${foodpiece.amount}&nbsp;&times;&nbsp;${foodpiece.fpname}</p>
                                </div>
                                <div class="btn-group-toggle"
                                     data-toggle="buttons">
                                    <label class="btn btn-outline-success ${foodpiece.ready?'active':''}" onclick="toggleFoodpiece(${foodpiece.id}, ${order.id})">
                                        <input type="checkbox"
                                               autocomplete="off"
                                               >
                                        Готово
                                    </label>
                                </div>
                            </li>`;

                    if (!foodpiece.ready && ready) {
                        ready = false;
                    }
                }

                html += `</ul>
                        <div class="btn-group btn-group-toggle d-flex justify-content-end"
                             data-toggle="buttons" role="group">
                            <label id="ready-${order.id}" class="btn btn-lg btn-outline-success ${ready?'':'disabled'} ${order.ready?'active':''}" onclick="toggleOrder(${order.id})">
                                <input type="checkbox" autocomplete="off"> Готов
                            </label>
                            <label id="archive-${order.id}" class="btn btn-lg btn-outline-success ${order.ready?'':'disabled'} ${order.archived?'active':''}" onclick="archiveOrder(${order.id})">
                                <input type="checkbox" autocomplete="off"> Выдан
                            </label>
                        </div>
                    </div>`;
            }

            return html;

        }

        function loadOrders() {
            axios.get('/orders/json')
                .then(function (resp) {
                    document.getElementById('orders-container').innerHTML = mapOrders(resp.data);
                })
                .catch(function (e) { console.log(e)});
        }

        function toggleFoodpiece(foodpieceId, orderId) {
            axios.post(
                '/orders/togglefp',
                {"id": foodpieceId}
            ).then(function (resp) {
                let readyButton = document.getElementById(`ready-${orderId}`);
                if (resp.data.ready) {
                    readyButton.classList.remove('disabled');
                } else {
                    readyButton.classList.add('disabled');
                    readyButton.classList.remove('active');
                }
            }).catch(function (e) {console.log(e)});
        }

        function toggleOrder(orderId) {
            axios.post(
                '/orders/toggleorder',
                {"id": orderId}
            ).then(function (resp) {
                let archiveButton = document.getElementById(`archive-${orderId}`);
                if (resp.data.ready) {
                    archiveButton.classList.remove('disabled');
                } else {
                    archiveButton.classList.add('disabled');
                }
            }).catch(function (e) {console.log(e)});
        }

        function archiveOrder(orderId) {
            axios.post(
                '/orders/archive',
                {"id": orderId}
            ).then(function () {
                let orderDiv = document.getElementById(`order-${orderId}`);
                orderDiv.parentNode.removeChild(orderDiv);
            }).catch(function (e) {console.log(e)});
        }

        function initPage() {
            loadOrders()
        }
    </script>
{% endblock %}
